output {

  file {
    path => "/tmp/stash.log"
  }

  elasticsearch {
    hosts => "{{ elasticsearch_address }}"
    user => "{{ elasticsearch_user }}"
    password => "{{ elasticsearch_pass }}"
  }

  lumberjack {
    hosts => "{{ lumberjack_address }}"
    port => 3333
    ssl_certificate => "/etc/logstash/ssl/logstash-forwarder.crt"
    codec => "json"
  }

}
